@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/segoeui.eot');
    src: url('../fonts/segoeui.woff2') format('woff2'),
         url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SegoeUI.woff') format('woff'),
         url('../fonts/SegoeUI.ttf') format('truetype'),
         url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

