.mailing-block {
	background: map-get($color, sky);
	@include space(padding, all, $size_20);
	text-align: center;
	h2 {
		font-family: $OpenSansRegular;
		color: map-get($color, white);
		text-transform: uppercase;
	}
	p {
		color: map-get($color, white);
		@include font-size(17);
	}
	img {
		margin: 0 auto;
		@include space(margin, bottom, $size_20);
	}
}